<!-- index.ejs -->
<html>
    <head>
        <h1> VVRecipe </h1>
        <% include ./partials/header.ejs %>
    </head>
    <body>
        <% include ./partials/navbar.ejs %>

        <div class='top-recipes'>

        </div>
    </body>
</html>